services:
  auth-service:
    build:
      context: auth-service
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    volumes:
      - ./auth-service:/app
    env-file:
      - ./auth-service/.env

  postgres:
    image: postgres:17
    container_name: bull-run-postgres
    environment:
      POSTGRES_DB: bullrun
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - main
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:latest
    container_name: bull-run-redis
    networks:
      - main
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile.prod
    container_name: bull-run-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL:-http://89.169.137.57/api}
    networks:
      - main
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: bull-run-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/crt:/etc/nginx/crt:ro
    # depends_on:
    #   - frontend
    #   - backend
    networks:
      - main
    restart: unless-stopped
    # healthcheck:
    #   test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/health"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3

networks:
  main:
    driver: bridge

volumes:
  pgdata: